* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 34, 51);
  min-height: 100%;
}

.header {
  position: fixed;
  background-color: #faf9ff;
  height: 120px;
  width: 100%;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  padding-left: 81px;
}

.logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.main {
  display: flex;
  padding-top: 276px;
  padding-left: 81px;
  gap: 81px;
  justify-content: start;
  align-items: center;
  flex: 1;
  padding-right: 81px;
  /* flex-wrap: wrap; */
}

.user_form {
  background-color: #ffffff;
  padding: 60px;
  border-radius: 4px;
  width: 590px;
  height: 592px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user_form_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  outline: none;
}

.user_form_input {
  outline: none;
  border-radius: 4px;
  width: 470px;
  height: 50px;
  border: 1px solid #3f3f3f;
  padding: 12px;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
}

.user_form_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6f6f6f;
  gap: 4px;
}

button {
  border-radius: 4px;
  width: 470px;
  height: 70px;
  padding: 20px 54px;
  background-color: #1f27f5;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.create_user {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.create_user:hover {
  background-color: #2a26cc;
}

.output_card {
  display: flex;
  flex-direction: column;
  /* width: 590px; */
  min-width: 100px;
  max-width: 590px;
  height: 470px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 60px;
  gap: 30px;
}

.output_info {
  width: 470px;
  height: 65px;
}

.result_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: #6f6f6f;
}

.result_info {
  font-size: 28px;
  font-weight: 700;
  color: #1c1c1c;
}

.card {
  display: none;
}