.header {
  position: fixed;
    display: flex;
  width: 100%;
  height: 120px;
  background-color: #141518;
  justify-content: space-between;
  align-items: center;
  padding-right: 90px;
  padding-left: 90px;
  color: #f5f7fa;
  flex-wrap: wrap;
  border-bottom: 3px solid #00e5ff;
  /* border-top: 7px solid #D4AF37;*/
  /* box-shadow: inset 0 -1px 0 rgba(255,255,255,.06); */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content:center; 
  gap: 32px;
}

.log_in_profile {
  width: 40px;
  height: 40px;
}

.link {
  color: #00e5ff;
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #a3a8b6;
  font-size: 30px;
  font-weight: 600;
}

.logo:hover {
  color: white;
  cursor: pointer;
}

.search {
  font-size: 19px;
  color: #a3a8b6;
  font-style: italic;
}

.search:hover {
  color: white;
}

.client_input {
  width: 100%;
  border-radius: 7px;
  outline: none;
  height: 30px;
  width: 190px;
  border: 1px solid #2c2f36;
  background: #141518;
  color: #f5f7fa;
  font-size: 16px;
}

.logo_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-color: antiquewhite; */
}

.main {
  flex: 1;

  /* background-image: url("../project_cinema/assests/low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-size: contain;  */
  /* background-position: center;
  /* background-color: #14191F;  #0A0F1E */
  /*#297EA6;*/

  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  justify-content: center;
  padding: 190px 20px 30px 20px;
  gap: 20px;
}

.film_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 20px;
  width: 400px;
  border: 2px solid orangered; /*#E50914*/
  /* border: #141518 solid 2px; */
  height: 620px;
  border-radius: 12px;
  background-color: #343D46;
  
  /* max-height: fit-content; */
}

.foto {
  width: 100%;
  /* max-width: fit-content; */
  height: 450px;
  border-radius: 12px;
  margin-bottom: 35px;
  /* min-height: fit-content; */
  /* border-radius: 25px; */
}

.footer {
  display: flex;
  background-color: #141518;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 28px 24px;
  color: white;
  font-size: 16px;
  border-top: 3px solid #00e5ff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.color {
  color: white;
}

.footer_link {
  color: white;
}

.name {
  /* color: rgba(255, 255, 255, 0.85); */
  color: orangered;
  font-size: 22px;
  font-style: italic;
}

.genre {
  color: #eae6e1;
  font-size: 20px;
}
