* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 550px;
  min-height: 300px;
  background-color: #e2e8f0;
  padding: 40px 40px;
  border-radius: 16px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: #f9fafb;
}

.randomizer_user {
  height: 50px;
  width: 100%;
  border-radius: 13px;
  border: none;
  color: white;
  background-color: blue;
  border: 1px solid rgba(255, 255, 255, 0.35);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  overflow-y: auto;
  font-weight: bold;
}

.user_image {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.user_image img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 3px solid #38bdf8;
}

.user_row {
  display: flex;
  justify-content: space-between;
}

.user_label {
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
}

.user_value {
  text-align: right;
  font-weight: 500;
  font-size: 21px;
}
