* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 30px;
  gap: 30px;
  background-color: rgb(26, 35, 53);
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#square {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 7px;
  border: none;
}

.buttons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 8px; */
  gap: 15px;
  width: 100%;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #2E2ECE;
  color: white;
}
