* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* По умолчанию все элементы на странице имеют position: static. Он не на что не влияет, св-ва top,left, right и bottom не влияют на элемент когда он static */
/* св-ва top,left, right и bottom влияют на все position, КРОМЕ STATIC */

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  /* right: 20px; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgb(49, 102, 102);
  color: white;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 200px;
  padding: 140px 40px 40px 40px;
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/191111144441-03-highest-mountains-world-photos-restricted.jpg?q=w_2500,h_1406,x_0,y_0,c_fill");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container {
  width: 800px;
  height: 800px;
  padding: 40px;
  background-color: rgb(53, 59, 55);
}

#cards-contatier-1 {
  z-index: 1;
  position: relative;
  top: 50px;
  left: 50px;
}

/* #cards-contatier-2 {
} */

.card {
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 26px;
  color: white;
}

#card-approach {
  position: absolute;
  top: -30px;
  left: -30px;
  background-color: rgb(119, 161, 204);
  border: 4px solid rgb(180, 194, 180);
}

#card-team {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(174, 176, 111);
  border: 4px solid rgb(191, 194, 180);
}

#card-focus {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(176, 133, 111);
  border: 4px solid rgb(255, 216, 208);
}

#card-quality {
  position: sticky;
  top: 110px;
  background-color: rgb(132, 206, 140);
  border: 4px solid rgb(214, 255, 208);
}

#image-container {
  position: static;
  top: 300px;
  left: 600px;
  background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-container {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  cursor: pointer;
}

#icon {
  width: 100%;
  height: 100%;
}

/* https://media.cnn.com/api/v1/images/stellar/prod/191111144441-03-highest-mountains-world-photos-restricted.jpg?q=w_2500,h_1406,x_0,y_0,c_fill */
/* https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg */
